<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Campus Infos
	</title>
	<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Style/style.css')}}">-->
</head>
<body>
	<header class="header">
		<nav class="nav">
			<a class="active" href="">Accueil</a>
			<a href="">Domaines</a>
			<a href="">Actualités</a>
			<a href="">Contacts</a>
			<a href="">S'abonner</a>
            <a href="">Menu</a>
		</nav>

	</header>
</body>
</html>