{% extends 'base_ecole.html'%}

{% block main %}

    <main class="main">
        <div class="container">

            <section class="middle-bar">

                <h1>Ecoles supérieures du Togo</h1>
                <div class="separator"></div>

                <div class="mb-content">
                    <div class="mb-article-cover">
                        <img src="">
                    </div>
                </div>

                <div class="mb-article">
                    <h2>Institut Africain d'Informatique</h2>

                    <article>
                        <div class="table">
                            <table class="concours-table">
                                <tbody>
                                    <tr>
                                        <th>Types de concours</th>
                                        <td>Génie logiciel et Maintenance et réseaux informatiques</td>
                                    </tr>
                                    <tr>
                                        <th>Niveau d'entrée</th>
                                        <td>Etre titulaire d’un BAC2 C, D, E, F ;<br> vieux d’un an au plus</td>
                                    </tr>
                                    <tr>
                                        <th>Les épreuves</th>
                                        <td>2 phases : présélection et examen écrit : maths, phys. et culture générale</td>
                                    </tr>
                                    <tr>
                                        <th>Durée de formation</th>
                                        <td>5ans</td>
                                    </tr>
                                    <tr>
                                        <th>Diplome</th>
                                        <td>Ingénieur</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="concours-desc">
                            <h3> Composition du dossier de candidature :</h3>
                            <ul>
                                <li>Une demande manuscrite adressée à Monsieur le Président de l’université de Lomé (préciser la filière choisie)</li>
                                <li>Un curriculum vitae</li>
                                <li>Une copie légalisée du certificat de nationalité (original à présenter sur place)</li>
                                <li>Une copie légalisée de l’acte de naissance</li>
                                <li>Un extrait de l’acte de naissance ou une fiche d’état civil</li>
                                <li>Un certificat médical</li>
                                <li>Trois (03) photos d’identité</li>
                                <li>Les bulletins des classes de 2nde, 1ère, Tle</li>
                                <li>Une copie légalisée des relevés de notes du BAC1 et BAC2</li>
                            </ul>
                        </div>
                    </article>
                </div>

            </section>

        </div>
    </main>

{% endblock %}